# ignore dotfiles and directories by default
.*
.*/
lorem.*
*.mdf
*.ldf
.vim/bundle/
.vim/cache/
yankring*
*.un~
bin/
Calibre*/
data
Desktop/
D-Fend*/
Documents/
Downloads/
flush
hgprojects/
Music/
Network/
Pictures/
Public/
ss_vnc/
Templates/
Videos/
links
*.swp
*~
AppData/
Searches/
NTUSER.*
Links/
Google*
Favorites/
Contacts/
*.ini
ntuser.*
_vsvimrc
Staff*.lnk
practice.txt
public_html/
tags
workshop/
tests/
temp/
share/
git-repo/
acp-awra/
data/
flush/
*.orig
intel/
iTunes/
pip/
eBooks/
Audio*/
Work/
Downloads*/
Virtual*/
Library.xml
Application*/
Templates/
Start*/
SendTo/
Recent/
NetHood/
PrintHood/
My*/
Cookies/
Local*/
virtual-env/
R/
Games/
Anki/
CSIRO/
asc/
code/
WorkspaceJobs/
_viminfo
projects/
support/
scratch/
notebooks/
downloads/
workspace/
src/
IntelGraphicsProfiles/
mplayer/
Other Music/
OneDrive/
Dropbox/
IDLWorkspace*/
trgtd/
datastore
Tracing/
wc/
Python12/
.conkyrc
pia/
documents/
training/
Interchange/
xinitrc
tablebases/
ASKAPsoft/
askap-debian-packages
scratch
