# ignore dotfiles and directories by default
.*
.*/
lorem.*
*.mdf
*.ldf
.vim/bundle/
.vim/cache/
yankring*
*.un~
bin/
Calibre*/
data
[D|d]esktop/
D-Fend*/
[D|d]ocuments/
[D|d]ownloads/
flush
hgprojects/
[M|m]usic/
Network/
[P|p]ictures/
Public/
ss_vnc/
Templates/
[V|v]ideos/
links
*.swp
*~
AppData/
Searches/
NTUSER.*
Links/
Google*
Favorites/
Contacts/
*.ini
ntuser.*
_vsvimrc
Staff*.lnk
practice.txt
public_html/
tags
workshop/
tests/
temp/
share/
git-repo/
acp-awra/
data/
flush/
*.orig
intel/
iTunes/
pip/
eBooks/
Audio*/
Work/
Downloads*/
Virtual*/
Library.xml
Application*/
Templates/
Start*/
SendTo/
Recent/
NetHood/
PrintHood/
My*/
Cookies/
Local*/
virtual-env/
R/
Games/
Anki/
CSIRO/
asc/
[C|c]ode/
WorkspaceJobs/
_viminfo
projects/
support/
scratch/
notebooks/
workspace/
src/
IntelGraphicsProfiles/
mplayer/
Other Music/
OneDrive/
Dropbox/
IDLWorkspace*/
trgtd/
datastore
Tracing/
wc/
Python12/
.conkyrc
pia/
documents/
training/
Interchange/
xinitrc
tablebases/
ASKAPsoft/
askap-debian-packages
scratch
Media/
orDrumbox/
scriptabit.log
scriptabit_plugins/
Viasfora/
Dropbox
dwhelper/
Qt/
askap-builds/
trunk/
sms-v1.2/
CMakeBuilds/
anaconda3/
OneDrive - CSIRO/
snap/
Upgrade-Backup/
.Rproj.user
PlayOnLinux's virtual drives
MicrosoftEdgeBackups/
code
gems/
grate
